log4j.rootLogger = INFO, rootAppender

log4j.appender.rootAppender = org.apache.log4j.ConsoleAppender
log4j.appender.rootAppender.layout = org.apache.log4j.PatternLayout
log4j.appender.rootAppender.layout.ConversionPattern = [%p] [%d] %m%n

log4j.category.Server.log = DEBUG, lobbyAppender, rootAppender
log4j.additivity.Server.log = false

log4j.appender.lobbyAppender = org.apache.log4j.DailyRollingFileAppender
log4j.appender.lobbyAppender.file = log/Server.log
log4j.appender.lobbyAppender.append = true
log4j.appender.lobbyAppender.layout = org.apache.log4j.PatternLayout
log4j.appender.lobbyAppender.layout.ConversionPattern = [%p] [%d] %m%n
log4j.appender.lobbyAppender.DatePattern = '.'yyyy-MM-dd 

log4j.category.Player.log = DEBUG, playerAppender, rootAppender
log4j.additivity.Player.log = false

log4j.appender.playerAppender = org.apache.log4j.DailyRollingFileAppender
log4j.appender.playerAppender.file = log/Player.log
log4j.appender.playerAppender.append = true
log4j.appender.playerAppender.layout = org.apache.log4j.PatternLayout
log4j.appender.playerAppender.layout.ConversionPattern = [%p] [%d] %m%n
log4j.appender.playerAppender.DatePattern = '.'yyyy-MM-dd 

log4j.category.Monster.log = DEBUG, MonsterAppender, rootAppender
log4j.additivity.Monster.log = false

log4j.appender.MonsterAppender = org.apache.log4j.DailyRollingFileAppender
log4j.appender.MonsterAppender.file = log/Monster.log
log4j.appender.MonsterAppender.append = true
log4j.appender.MonsterAppender.layout = org.apache.log4j.PatternLayout
log4j.appender.MonsterAppender.layout.ConversionPattern = [%p] [%d] %m%n
log4j.appender.MonsterAppender.DatePattern = '.'yyyy-MM-dd 

log4j.category.VP.log = DEBUG, VPAppender, rootAppender
log4j.additivity.VP.log = false

log4j.appender.VPAppender = org.apache.log4j.DailyRollingFileAppender
log4j.appender.VPAppender.file = log/VP.log
log4j.appender.VPAppender.append = true
log4j.appender.VPAppender.layout = org.apache.log4j.PatternLayout
log4j.appender.VPAppender.layout.ConversionPattern = [%p] [%d] %m%n
log4j.appender.VPAppender.DatePattern = '.'yyyy-MM-dd 

log4j.category.GM.log = DEBUG, GMAppender, rootAppender
log4j.additivity.GM.log = false

log4j.appender.GMAppender = org.apache.log4j.DailyRollingFileAppender
log4j.appender.GMAppender.file = log/GM.log
log4j.appender.GMAppender.append = true
log4j.appender.GMAppender.layout = org.apache.log4j.PatternLayout
log4j.appender.GMAppender.layout.ConversionPattern = [%p] [%d] %m%n
log4j.appender.GMAppender.DatePattern = '.'yyyy-MM-dd 


log4j.category.Billing.log = DEBUG, BillAppender, rootAppender
log4j.additivity.Billing.log = false

log4j.appender.BillAppender = org.apache.log4j.DailyRollingFileAppender
log4j.appender.BillAppender.file = log/Bill.log
log4j.appender.BillAppender.append = true
log4j.appender.BillAppender.layout = org.apache.log4j.PatternLayout
log4j.appender.BillAppender.layout.ConversionPattern = [%p] [%d] %m%n
log4j.appender.BillAppender.DatePattern = '.'yyyy-MM-dd 

log4j.category.Room.log = DEBUG, RoomAppender, rootAppender
log4j.additivity.Room.log = false

log4j.appender.RoomAppender = org.apache.log4j.DailyRollingFileAppender
log4j.appender.RoomAppender.file = log/Room.log
log4j.appender.RoomAppender.append = true
log4j.appender.RoomAppender.layout = org.apache.log4j.PatternLayout
log4j.appender.RoomAppender.layout.ConversionPattern = [%p] [%d] %m%n
log4j.appender.RoomAppender.DatePattern = '.'yyyy-MM-dd 

log4j.category.Memory.log = DEBUG, MemoryAppender, rootAppender
log4j.additivity.Memory.log = false

log4j.appender.MemoryAppender = org.apache.log4j.DailyRollingFileAppender
log4j.appender.MemoryAppender.file = log/Memory.log
log4j.appender.MemoryAppender.append = true
log4j.appender.MemoryAppender.layout = org.apache.log4j.PatternLayout
log4j.appender.MemoryAppender.layout.ConversionPattern = [%p] [%d] %m%n
log4j.appender.MemoryAppender.DatePattern = '.'yyyy-MM-dd 

log4j.category.DataBase.log = DEBUG, DataBaseAppender, rootAppender
log4j.additivity.DataBase.log = false

log4j.appender.DataBaseAppender = org.apache.log4j.DailyRollingFileAppender
log4j.appender.DataBaseAppender.file = log/Database.log
log4j.appender.DataBaseAppender.append = true
log4j.appender.DataBaseAppender.layout = org.apache.log4j.PatternLayout
log4j.appender.DataBaseAppender.layout.ConversionPattern = [%p] [%d] %m%n
log4j.appender.DataBaseAppender.DatePattern = '.'yyyy-MM-dd 

log4j.category.Exception.log = DEBUG, ExceptionAppender, rootAppender
log4j.additivity.Exception.log = false

log4j.appender.ExceptionAppender = org.apache.log4j.DailyRollingFileAppender
log4j.appender.ExceptionAppender.file = log/Exception.log
log4j.appender.ExceptionAppender.append = true
log4j.appender.ExceptionAppender.layout = org.apache.log4j.PatternLayout
log4j.appender.ExceptionAppender.layout.ConversionPattern = [%p] [%d] %m%n
log4j.appender.ExceptionAppender.DatePattern = '.'yyyy-MM-dd 

log4j.category.store.log = DEBUG, storeAppender, rootAppender
log4j.additivity.store.log = false

log4j.appender.storeAppender = org.apache.log4j.DailyRollingFileAppender
log4j.appender.storeAppender.file = log/store.log
log4j.appender.storeAppender.append = true
log4j.appender.storeAppender.layout = org.apache.log4j.PatternLayout
log4j.appender.storeAppender.layout.ConversionPattern = [%p] [%d] %m%n
log4j.appender.storeAppender.DatePattern = '.'yyyy-MM-dd 